# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
_pycache_
__pycache__
src/_pycache_
src/__pycache__
.DS_Store
.idea

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/
