{% extends 'base.html' %}
{% block head %}
<!-- Javascript for a new row-->
<script>
    currNumRows = 1;
    stock_mapping = {
    {% for i in indexes %}
          "{{tickers[i]}}":"{{names[i]}}",
          "{{names[i]}}":"{{tickers[i]}}",
    {% endfor %}
    };

    /*a function to add a new row to the portfolio table:*/
    function addRow() {
        ele = document.getElementById("stock_row_"+currNumRows);
        ele.style.display="";
        autocomplete(document.getElementById("stock_tick_"+currNumRows), stock_symbols);
        autocomplete(document.getElementById("stock_name_"+currNumRows), stock_names);
        currNumRows +=1;
    }

    /*a function that runs after the input field is exited*/
    var otherText = "";
    function enterTicker(tag_id){
        numRow = tag_id.split("_")[2];
        inputed = tag_id.split("_")[1];

        ele = document.getElementById(tag_id);
        var observerInterval = setInterval(function() {
            text = ele.value;
            otherText = stock_mapping[text];
            var x = 0;
            if (typeof otherText !== "undefined" || ++x === 30) {
                console.log("okay");
                console.log(otherText);
                if(inputed == "tick"){
                    document.getElementById("stock_".concat("name","_",numRow)).value = otherText;
                }
                else{
                    document.getElementById("stock_".concat("tick","_",numRow)).value = otherText;
                }
                console.log(x);
                clearInterval(observerInterval);
            }
        }, 100);
    }
    /* Check the inputs before submitting */
    function checkInput() {
        document.getElementById('invalidInput').style.display="none";
        errBool = false;
        currIter = 0;
        while (currIter<10){
            tick = document.getElementById('stock_tick_'+currIter);
            tick.style.border = "none";
            name_s = document.getElementById('stock_name_'+currIter);
            name_s.style.border = "none";

            if(tick.value=="" && name_s.value==""){
                if(currIter == 0){
                    errBool = true;
                    tick.style.border = "1px solid red";
                    name_s.style.border = "1px solid red";
                }
                break;
            }
            if(!stock_symbols.includes(tick.value)){
                errBool = true;
                tick.style.border = "1px solid red";
            }
            if(!stock_names.includes(name_s.value)){
                errBool = true;
                name_s.style.border = "1px solid red";
            }

            currIter+=1;
            console.log(currIter);
        }
        if(!errBool){
            document.form1.submit();
        }
        else{
            document.getElementById('invalidInput').style.display="";
        }
    }
</script>
{% endblock %}

{% block body %}
<div class="container pageHeader">
    <!-- Nav bar  -->
    <div id="myNavBar">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" data-toggle="pill" href="{{url_for('NewPort_Page')}}" role="tab" aria-controls="v-pills-home" aria-selected="true">New Portfolio</a>
            <a class="nav-link" data-toggle="pill" href="{{url_for('Strategy_Page')}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Develop Strategy</a>
            <a class="nav-link" data-toggle="pill" href="{{url_for('More_Page')}}" role="tab" aria-controls="v-pills-messages" aria-selected="false">More</a>
        </div>
    </div>

    <!--  Page Header and Desc  -->
    <h1>Create a New Portfolio</h1>
    <p id="pageDesc">Using the information from our dealer, configure the components of the portfolio below.
        The weights will automatically be normalized and a default name will be provided if none is given. Valid stocks are ones currently in the S&P 500.</p>
</div>

<!-- Main Content-->
<div id="BodyContent">
    <form autocomplete="off" action="{{ url_for('NewPort_Page') }}" name="form1" method="post">
        <!--   Portfolio Name     -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Portfolio Name</span>
            </div>
            <input type="text" name="portName" class="form-control" placeholder="Portfolio {{numPorts}}" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <!--    Stock Inputs    -->
        <table id="tableOfStocks">
            <tr id="headerRow">
                <th>Stock Ticker</th>
                <th>Stock Name</th>
                <th>Relative Weight</th>
            </tr>

            <tr id="stock_row_0">
                <div class="autocomplete">
                    <td><input type="text" id="stock_tick_0" name="stock_tick_0" class="form-control" placeholder="Ticker" onfocusout="enterTicker(this.id)"></td>
                    <td><input type="text" id="stock_name_0" name="stock_name_0" class="form-control" placeholder="Name" onfocusout="enterTicker(this.id)"></td>
                    <td><input type="text" id="stock_weight_0" name="stock_weight_0" class="form-control" placeholder="Default : 1"></td>
                </div>
            </tr>
            {%for i in range(1, 10)%}
                <tr id="stock_row_{{i}}" style="Display:none;">
                    <td><input type="text" id="stock_tick_{{i}}" name="stock_tick_{{i}}" class="form-control" placeholder="Ticker" onfocusout="enterTicker(this.id)"></td>
                    <td><input type="text" id="stock_name_{{i}}" name="stock_name_{{i}}"class="form-control" placeholder="Name" onfocusout="enterTicker(this.id)"></td>
                    <td><input type="text" id="stock_weight_{{i}}" name="stock_weight_{{i}}"class="form-control" placeholder="Default : 1"></td>
                </tr>
            {%endfor%}

            <tr style="border:none;">
                <td colspan="3" onclick="addRow()" ><div style="width: max-content;margin:auto;cursor:pointer;">
                    Add Stock <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div></td>
            </tr>
        </table>

        <!--    Submit    -->
        <button type="button" style="float: right;" onclick="checkInput();this.blur()" class="btn btn-primary">Submit Portfolio</button>
    </form>
    <h3 id="invalidInput" style="display:none;">Error. Failed to read input(s).</h3>

    {% if submittedAPort %}
        <h2 id="submittedAPort">Portfolio Successfully Submitted!</h2>
        <h3 id="submittedAPort" style="font-size: 12px;/*! padding: 15px; */text-align: center;width: 100%;display: flow-root;"><a href="{{url_for('Strategy_Page')}}">Find Optimal Strategy</a></h3>
    {% endif %}
</div>

<!-- Javascript for autocomplete form-->
<script>
function autocomplete(inp, arr) {
	/*the autocomplete function takes two arguments,
    the text field element and an array of possible autocompleted values:*/
    var currentFocus;

    /*execute a function when someone writes in the text field:*/
    inp.addEventListener("input", function(e) {
	    var a, b, i, val = this.value;
	    /*close any already open lists of autocompleted values*/
	    closeAllLists();
	    if (!val) { return false;}
	    currentFocus = -1;

	    /*create a DIV element that will contain the items (values):*/
	    a = document.createElement("DIV");
	    a.setAttribute("id", this.id + "autocomplete-list");
	    a.setAttribute("class", "autocomplete-items");

	    /*append the DIV element as a child of the autocomplete container:*/
	    this.parentNode.appendChild(a);

	    /*for each item in the array...*/
	    var numKids = 0;
	    for (i = 0; i < arr.length; i++) {
	        /*check if the item starts with the same letters as the text field value:*/
	        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
	            /*create a DIV element for each matching element:*/
	            b = document.createElement("DIV");

	            /*make the matching letters bold:*/
	            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
	            b.innerHTML += arr[i].substr(val.length);
	            /*insert a input field that will hold the current array item's value:*/
	            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
	            /*execute a function when someone clicks on the item value (DIV element):*/
	            b.addEventListener("click", function(e) {
	                /*insert the value for the autocomplete text field:*/
	                inp.value = this.getElementsByTagName("input")[0].value;

	                /*close the list of autocompleted values, (or any other open lists of autocompleted values:*/
	                closeAllLists();
	            });
	            a.appendChild(b);
	            if (numKids > 5) {
                    break;
                }
                else{
                    numKids=numKids+1;
                }
	        }
	    }
    });

    /*execute a function presses a key on the keyboard:*/
    inp.addEventListener("keydown", function(e) {
  		var x = document.getElementById(this.id + "autocomplete-list");
      	if (x) x = x.getElementsByTagName("div");
		if (e.keyCode == 40) {
			/*If the arrow DOWN key is pressed,increase the currentFocus variable:*/
			currentFocus++;
			/*and and make the current item more visible:*/
			addActive(x);
		}
		else if (e.keyCode == 38) {
			/*If the arrow UP key is pressed,
			decrease the currentFocus variable:*/
			currentFocus--;
			/*and and make the current item more visible:*/
			addActive(x);
		}
		else if (e.keyCode == 13 || e.keyCode == 9) {
			/*If the ENTER key is pressed, prevent the form from being submitted,*/
			e.preventDefault();
			if (currentFocus > -1) {
				/*and simulate a click on the "active" item:*/
				if (x) x[currentFocus].click();
			}
      }
    });

    function addActive(x) {
	    /*a function to classify an item as "active":*/
	    if (!x) return false;

	    /*start by removing the "active" class on all items:*/
	    removeActive(x);
	    if (currentFocus >= x.length) currentFocus = 0;
	    if (currentFocus < 0) currentFocus = (x.length - 1);

	    /*add class "autocomplete-active":*/
	    x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
	    /*a function to remove the "active" class from all autocomplete items:*/
	    for (var i = 0; i < x.length; i++) {
			x[i].classList.remove("autocomplete-active");
	    }
    }
    function closeAllLists(elmnt) {
	    /*close all autocomplete lists in the document,
	    except the one passed as an argument:*/
	    var x = document.getElementsByClassName("autocomplete-items");
	    for (var i = 0; i < x.length; i++) {
			if (elmnt != x[i] && elmnt != inp) {
				x[i].parentNode.removeChild(x[i]);
			}
	    }
    }

    /*execute a function when someone clicks in the document:*/
	document.addEventListener("click", function (e) {
		closeAllLists(e.target);
	});
}

/*An array containing all the stock tickers*/
var stock_symbols = [
{% for i in tickers %}
      "{{i}}",
{% endfor %}
];
/*An array containing all the company names*/
var stock_names = [
{% for i in names %}
      "{{i}}",
{% endfor %}
];

/*An array containing all the company names*/
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("stock_tick_0"), stock_symbols);
autocomplete(document.getElementById("stock_name_0"), stock_names);
</script>

{% endblock %}