{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container pageHeader">
    <!-- Nav START  -->
    <div id="myNavBar">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" data-toggle="pill" href="{{url_for('NewPort_Page')}}" role="tab" aria-controls="v-pills-home" aria-selected="true">New Portfolio</a>
            <a class="nav-link active" data-toggle="pill" href="{{url_for('Strategy_Page')}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Develop Strategy</a>
            <a class="nav-link" data-toggle="pill" href="{{url_for('More_Page')}}" role="tab" aria-controls="v-pills-messages" aria-selected="false">More</a>
        </div>
    </div>
    <!-- Nav END  -->

    <!--  Page Header and Desc  -->
    <h1>Develop the Strategy</h1>
    <p id="pageDesc">tsdkfmdsmflsdmfkldsnf ksdlnfklds fnklsdnfkdsnfdlksnfsdlknfsdlkfnkdslnfkdn</p>
</div>

<!-- Main Content-->
<div id="BodyContent">
    <form>
        <!--   Risk Amount     -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    Risk Aversion &nbsp;
                    <a href="https://en.wikipedia.org/wiki/Risk_aversion">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Default : 1" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <!--    Submit    -->
        <button type="submit" style="float: right;" class="btn btn-primary">Calculate Strategy</button>
    </form>
</div>
{% endblock %}