{% extends 'base.html' %}

{% block head %}
<!-- Javascript for displaying loading animation-->
<script>
    function displayLoading() {
        document.getElementById("LoadingScreen").style.display = "";
        document.getElementById("LoadingScreenBar").style.display = "";

        try {
            document.getElementById("tableOfPorts").style.display = "none";
            document.getElementById("StratResults").style.display = "none";
            document.getElementById("LoadingScreenBar2").style.display = "none";
        }
        catch(err) {
          /* pass */
        }
    }
    function showDetails(name){
        eles = document.getElementsByClassName(name);
        for(let e of eles){
            if(e.style.display == "none"){
                e.style.display = "";
            }
            else{
                e.style.display = "none";
            }
        }
    }
    function checkInput_Posfloat(x)
        {
            ele = document.getElementsByName(x)[0];
            ele.value = ele.value;
            val = ele.value;
            ele.style.border = "";
            if(val==""){
              ele.value = parseFloat("1");
              return true;
            }
            if( /^\d+$/.test(val) ||
                /^\d+\.\d+$/.test(val) ||
                /^\d+\.+$/.test(val) ||
                /^\.\d+$/.test(val))
            {
              ele.value = parseFloat(val);
              return true;
            }
            else
            {
              ele.style.border = "1px solid red";
              return false;
            }
        }
        function checkInput() {
            document.getElementById('invalidInput').style.display="none";
            if(checkInput_Posfloat('risk')){
                displayLoading();
                document.form1.submit();
            }
            else{
                document.getElementById('invalidInput').style.display="";
            }
        }
</script>
{% endblock %}

{% block body %}
<div class="container pageHeader">
    <!-- Nav START  -->
    <div id="myNavBar">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" data-toggle="pill" href="{{url_for('NewPort_Page')}}" role="tab" aria-controls="v-pills-home" aria-selected="true">New Portfolio</a>
            <a class="nav-link active" data-toggle="pill" href="{{url_for('Strategy_Page')}}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Develop Strategy</a>
            <a class="nav-link" data-toggle="pill" href="{{url_for('More_Page')}}" role="tab" aria-controls="v-pills-messages" aria-selected="false">More</a>
        </div>
    </div>
    <!-- Nav END  -->

    <!--  Page Header and Desc  -->
    <h1>Develop the Strategy</h1>
    <p id="pageDesc">A strategy is a combination of portfolios to invest in. We find the best strategy given a specific risk level using the Quantum Approximate Optimization Algorithm (QAOA). </p>
</div>

<!-- Main Content-->
<div id="BodyContent">
    <form action="{{ url_for('Strategy_Out_Page') }}" method="post" name="form1">
        <!--    Submit    -->
        <button type="button" class="btn btn-primary" style="float:right;" onclick="checkInput();this.blur()">Calculate Strategy</button>

        <!--   Risk Amount     -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    Risk Aversion &nbsp;
                    <a href="https://en.wikipedia.org/wiki/Risk_aversion">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <input type="text" name="risk" class="form-control" placeholder="Default : 1">
        </div>
        <h3 id="invalidInput" style="display:none;">Error. Failed to read input.</h3>
    </form>
    <hr id="LoadingScreenBar" style="display:none;margin-top: 30px;">
    <div id="LoadingScreen" style="display:none;">
        <div class="row">
            <div class="col-sm-4" style="width: min-content;">
                <div class="loader"></div>
            </div>
            <div class="col-sm-4">
                <h2>Calculating Optimal Strategy...</h2>
            </div>
        </div>
    </div>
    {% if outPut %}
        <hr id="LoadingScreenBar2" style="margin-top: 30px;">
        {{TORR|safe}}
    {% endif %}
</div>

{% endblock %}