/* CSS for page layout */
body {
    overflow-x:hidden;
    font-family: 'Montserrat', sans-serif;
}
div#BodyContent {
    padding:25px 15%;
}
h1 {
    font-weight:bold;
}
.pageHeader {
    margin: auto;
    padding: 30px 15%;
}
a {
    color:#597fb9;
}

/* CSS for Nav Bar */
div#myNavBar{
    float: left;
    border: .5px gray solid;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 1px #8888;
    margin-right:5%;
}
.nav-link.active {
    background-color:#597fb9 !important;
    color:white;
}

/* CSS for New stock table */
table#tableOfStocks{
    margin: auto;
    width: 100%;
    position:relative;
}
table#tableOfStocks
thead,
tbody,
tfoot,
tr,
td,
th {
  position:relative;
}


table#tableOfStocks tr{
    border:1px solid black;
}
table#tableOfStocks tr#headerRow{
    border: none;
    text-align: center;
}

table#tableOfStocks td{
    padding: 0px;
}

table#tableOfStocks td * {
    padding: 0px;
    border-radius: 0px;
}

/* Loading icon */
div#LoadingScreen {
    margin: auto;
    width: max-content;
}
div#LoadingScreen h2{
    font-size:25px;
    display:inline-block;
    font-size: 25px;
    width: max-content;
    padding: 13px 0;
}
.loader {
    border: 8px solid #f3f3f3;
    border-top-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-top-width: 8px;
    border-radius: 50%;
    float:right;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Autocomplete div*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* Strategy Results */
table#tableOfPorts{
    margin: auto;
    width: 100%;
    border-spacing: 5px 14px;
    border-collapse: separate;
}
table#tableOfPorts tr{
    border-radius: 15px;
    box-shadow: 3px 3px 15px 1px #8888;
}
table#tableOfPorts tr#headerRow{
    border: none;
    text-align: center;
    box-shadow: none;
}
table#tableOfPorts tr#headerRow th{
    text-align: left;
    padding: 0px 13px;
}

table.port{
    width: 100%;
    margin: 10px;
}
table.port tr{
    border-radius: 0px !important;
    box-shadow: none !important;
}
h2#StratResults {
    font-size: 18px;
    text-align: center;
}



/* Misc */
.fa-plus-circle{
    color:#32a852;
}
.input-group {
    width:max-content;
}